body {
    background-color: #f2f2f2;
    margin: 0 auto;
    margin-top: 2%;
}

.code-identifier {
    padding-right: 1px;
    padding-top: 3px;
    font-style: italic;
    text-align: right;
}

.info {
    text-align: center;
    font-size: 15px;
}

#name {
    text-align: center;
    font-size: 60px;
}

#header {
    height: 150px;
}

#header_row {
    align-items: center;
    justify-content: center;
}

#profile_picture {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

#bottom_row {
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#projects_row {
    padding-bottom: 4px;
}




